body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

header h2 {
    margin: 0;
    padding: 0;
    color: #343a40;
}

button[type="submit"] {
    width: 100%;
}

.alert h4 {
    margin: 0;
    padding: 0;
}
